<form [formGroup]="loginForm">
    <h2>CFEMATICO</h2>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Usuario</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="user">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label >
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
    </div>
    <button class="btn btn-success" type="button" (click)="getData(loginForm.value)">Iniciar sesión</button>
</form>